/* page3.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+FR+Moderne:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0044cc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 10px 0 0;
    font-size: 1.2em;
}
.color{
    color: yellow;
}

header p {
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
   

}

.container {
    padding: 20px;
    background: url('5.jpg');
    background-repeat: no-repeat;
    background-size:100% 100% ;
    color:white;
}

.box1, .box2 {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

h3 {
    border-bottom: 2px solid #0045cf;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin: 20px 0;
   

}

.footer {
    background-color: #090909;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer img {
    display: block;
    margin: 0 auto 10px;
}

.contact {
    margin: 10px 0;
}

.bottom, .bottom2 {
    margin: 10px 0;
}

.phone-icon, .gmail-icon {
    margin-right: 10px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1em;
    }

    .box1, .box2 {
        margin: 10px;
        padding: 15px;
    }

    p {
        margin: 15px 0;
    }
}
