/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
    background: url('20.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
}


.container {
    text-align: center;
    margin-bottom: 30px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box-item {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.box-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.box-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 1.8em;
    color: white;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0056b3;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003366;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .box-item {
        width: 100%;
    }
}



    